body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------Section1--------------------------------------------------------- */
.header {
    background: url(../image/background.jpg) no-repeat;
    background-attachment: fixed;
    height: 85vh;
    background-size: cover;
    animation: slide 16s ease-in-out infinite;
}

@keyframes slide {
    0% {
        background-image: url("../image/background.jpg");
    }

    50% {
        background-image: url("../image/background3.jpg");
    }

    75% {
        background-image: url("../image/Background\ 5.jpg");
    }

    100% {
        background-image: url("../image/Background2.jpg");
    }

}

@media screen and (max-width: 600px) {
    .header {
        height: 50vh;
        background-size: contain;
    }
}

.nav img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.nav {

    /* border-bottom: 1px solid grey; */
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: sticky;
    top: 0; */
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
    padding: 5px 5px;
    border-radius: 30px;
}

.menu a.active {
    background: #FFCE0D;
}

.menu a:hover {
    background-color: #FFCE0D;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 900px) {

    .header {
        height: 50vh;
        background-size: contain;
    }



}


@media only screen and (max-width: 600px) {
    .header {
        height: 30vh;
        background-size: contain;
    }

    label {
        display: block;
        cursor: pointer;
        color: white;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: #FFCE0D;


    }

    .menu a {
        display: block;
        border-bottom: 1px solid gray;
        margin: 0;
        padding: 0;
        line-height: 44px;
    }

    #toggle:checked+.menu {
        display: block;
    }
}





/*---------------------------------------------Section2-----------------------------------------------------------*/
.conteneur {
    text-align: center;
    background-color: #FFCE0D;
    margin-top: -54px;
}

h1 {
    text-align: center;

}

p {
    padding: 0px 60px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}


.border-miel {
    width: 100%;


}

.border-miel2 {
    width: 100%;

}

.one,
.two,
.three,
.four {
    margin-top: 50px;

}




@media only screen and (min-width: 900px) {
    .big1 {
        display: flex;
    }

    .no img {
        height: 150px;
    }

    .yes img {
        height: 150px;
    }


}

@media only screen and (min-width: 600px) {
    .yes {
        display: flex;
    }

    .no {
        display: flex;
    }

    .conteneur {
        margin-top: -14px;
    }

    .one,
    .two,
    .three,
    .four {
        margin-top: 50px;
        width: 50%;

    }

    .border-miel2 {
        width: 100%;
    }



}




/*--------------------------------------------------Section3---------------------------------------------*/
.container {
    margin: auto;
}

img {
    width: 150px;
    height: 200px;
}

.section1 h1 {
    text-align: center;
    display: block;
}

h3 {
    color: rgb(44, 44, 44);
    margin-left: 50px;
    margin-top: 50px;
}

.container {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    transform: translateY(0);
    background: #fff;
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}


.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card:hover .face.face1 .content img {
    max-width: 130px;
}

.container .card:hover .face.face1 .content h3 {
    margin: 25px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 30px rgba(248, 214, 78, 0.3);
    transform: translateY(-100px);

}

.container .card:hover .face.face2 {
    transform: translateY(0);
    background: #FFCE16;
}

.content p {
    margin: 0;
    padding: 0;
}

/* prob */
.content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;

}

.content a:hover {
    background: #333;
    color: #fff;
}



/*--------Button------*/


.button {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F89B31;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin: auto;
}

.button:hover {
    background-color: #FFCE0D
}

.button:active {
    background-color: #F89B31;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.button a {
    text-decoration: none;
    color: #fff;
}



@media screen and (max-width: 1139px) {

    .container {
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }


    .selec1 {
        display: flex;
        justify-content: space-around;


    }
}

@media screen and (max-width: 600px) {

    .selec1 {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .card {
        margin: auto;
    }



}




































/* ----------------------------Section4----------------------- */
#title3 {
    color: #FFCE0D;
}

#sec3 {
    text-align: center;
    color: gray;
}

.stars {
    width: 35%;
    height: 10%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px 20px;
}

.stars p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.avis img {
    width: 3%;
    height: 3%;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.recom {
    font-size: medium;
    color: #F8D64E;
}






@media screen and (max-width: 1100px) {
    .flex {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .stars {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
        padding-left: 30px;
    }

    .recom {
        font-size: small;

    }
}





































footer {
    text-align: center;
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 10px 0;
    margin-top: 15px;

}

footer img {
    text-align: center;
    height: 100px;
    padding: 30px 0px;
}

.contacts ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: #F8D64E;
    margin-right: 40px;

}

.contacts ul li i {
    margin-right: 10px;
    color: #F8D64E;
}

.media {
    width: 15%;
    margin: auto;
    padding: 30px 0px;
    color: #F8D64E;

}

.media ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #F8D64E;

}

.media ul li a {
    color: #F8D64E;
    margin-left: 10px;
}

footer p {
    color: #F8D64E;
}


@media (max-width: 990px) {

    .contacts ul {
        flex-direction: column;

    }

    .contacts ul li {
        line-height: 30px;
    }
}